#container{width=1200; background-color:#E9E9EA;}
#Logo{width:auto; height:100px; background-color:#eeeeee;}
#rightl{float=right; width:250px;height:600px; background-color:#E9E9EA;}
#main{float:left padding:5px; background-color:#f7f7f7;}
#leftm{float:left; width:50px;height:600px;}
#rightm{float:right; width:200px;height:600px;}
#bottom{width:auto; height:100px; }